project_id = "athplan-local"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_port = 54324

[functions]
[functions.check-subscription]
verify_jwt = true
